.buttonmulai {
    background-color: #ffcc2a;
    border-radius: 8px;
    border: none;
}
.hello {
    padding-top: 250px;
}
.gambar {
    /* position: absolute; */
    width: 683.45px;
    height: 652.95px;
    /* left: 710px;
    top: 228px; */
}
